@page "/"
@using Markdig
@using YamlDotNet.Serialization
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>@PageTitle</PageTitle>

@if (Monsters == null)
{
    <p>Loading...</p>
}
else
{
    <div class="main-panel">
        <div class="search-row">
            <SearchBar Monsters="Monsters.Values.ToList()" OnSelect="Navigate"></SearchBar>
            <label class="upper-checkbox"><input type="checkbox" @bind="ShortVersion" /> Version courte si possible </label>
        </div>

        @if (SelectedMonster == null)
        {
            <div class="heading">
                Bienvenue sur Songes pour les Noobs.
            </div>

            <div>
                Besoin de se renseigner sur un boss pendant votre run songe, mais pressé? Ce site est parfait pour vous!
                Des détails moindres sont volontairement omis pour accélérer votre lecture.
                Des versions courtes sont également disponibles pour réduire sur l'essentiel.
            </div>

            <div class="info-panel">
                <img src="Icons/Information.png" class="panel-icon" />
                <div class="info-text">
                    <em>Les informations sur le boss sont ici</em>
                </div>
            </div>

            <div class="mechanics-panel">
                <img src="Icons/Mécanique6.png" class="panel-icon" />
                <div class="info-text">
                    <em>Les mécaniques globales sont ici</em>
                </div>
            </div>

            <div class="advice-panel">
                <img src="Icons/Conseils.png" class="panel-icon" />
                <div class="info-text">
                    <em>Les conseils de stratégie sont ici</em>
                </div>
            </div>

            <div class="subheading">
                Gestion générale: Des barres d'évaluation peuvent vous guider sur comment gérer le boss.
            </div>

            <div class="icon-grid">
                <div class="icon-row">
                    <img src="Icons/Focus.png" />
                    <div>
                        <em>
                            <strong>Focus immédiat</strong>: Est-ce que le boss est un bon premier focus? Un boss très dangéreux et / ou
                            une facilité du kill favorisent une grande valeur.
                        </em>
                    </div>
                </div>

                <div class="icon-row">
                    <img src="Icons/Evasion.png" />
                    <div>
                        <em>
                            <strong>Esquive</strong>: Est-ce qu'il est rentable d'éviter l'interaction avec les sorts du boss? Un boss très dangéreux,
                            une faible mobilité et / ou une faible portée favorisent une grande valeur.
                        </em>
                    </div>
                </div>

                <div class="icon-row">
                    <img src="Icons/Tank.png" />
                    <div>
                        <em>
                            <strong>Tank</strong>: Est-ce qu'il est rentable de facetank les sorts du boss? Un boss très faible et / ou
                            une grande difficulté d'éviter ses sorts favorisent une grande valeur.
                        </em>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (!ShortVersion && WidthExceptions.ContainsKey(SelectedMonster.Name))
            {
                PanelWidth = WidthExceptions[SelectedMonster.Name];
            }
            else
            {
                PanelWidth = "800px";
            }

            string information = SelectedMonster.InformationShort != null && ShortVersion ? SelectedMonster.InformationShort : SelectedMonster.Information;
            string? mechanic = SelectedMonster.MechanicShort != null && ShortVersion ? SelectedMonster.MechanicShort : SelectedMonster.Mechanic;
            string advice = SelectedMonster.AdviceShort != null && ShortVersion ? SelectedMonster.AdviceShort : SelectedMonster.Advice;

            <div class="monster-header-row">
                <div class="bossname">@SelectedMonster.Name</div>
                <DifficultyScale Difficulty="@SelectedMonster.Difficulty"></DifficultyScale>
            </div>

            <div class="monster-header-block">
                <div class="monster-image-box">
                    <img src="Images/@SelectedMonster.Image" />
                </div>
                <ViabilityProgressBars Focus="@SelectedMonster.ImmediateFocus" Evasion="@SelectedMonster.Evasion" Tank="@SelectedMonster.Tanking"></ViabilityProgressBars>

                @if (SelectedMonster.Illustration != null)
                {
                    <div class="illustration-block">
                        <img src="Illustrations/@SelectedMonster.Illustration" />
                        @if (SelectedMonster.Caption != null)
                        {
                            <div class="illustration-caption">
                                @SelectedMonster.Caption
                            </div>
                        }
                    </div>
                }
            </div>


            <div class="info-panel">
                <img src="Icons/Information.png" class="panel-icon" />
                <div class="info-text">
                    @((MarkupString)Markdown.ToHtml(information))
                </div>
            </div>

            @if (mechanic != null)
            {
                <div class="mechanics-panel">
                    <img src="Icons/Mécanique6.png" class="panel-icon" />
                    <div class="info-text">
                        @((MarkupString)Markdown.ToHtml(mechanic))
                    </div>
                </div>
            }

            <div class="advice-panel">
                <img src="Icons/Conseils.png" class="panel-icon" />
                <div class="info-text">
                    @((MarkupString)Markdown.ToHtml(advice))
                </div>
            </div>
        }

        <div class="mt-3 position-relative">

            <div class="row align-items-center">

                @if (SelectedMonster != null)
                {
                    <div class="col-auto ms-3">
                        <button class="btn btn-secondary" @onclick="NavHome">
                            Retour à l'introduction
                        </button>
                    </div>

                    string detailLink = DofensiveBase + SelectedMonster.Id;

                    <div class="col text-center">
                        <a href="@detailLink" target="_blank" rel="noopener noreferrer" class="link-box d-inline-flex align-items-center gap-1 px-2 py-1">

                            <span class="small mb-0">Besoin de détails?</span>
                            <img src="Icons/Dofensive.png" class="dofensive-icon" />
                        </a>
                    </div>
                }
                else
                {
                    <div class="col"></div>
                }

                <div class="col-auto me-3 text-end">
                    <button class="btn btn-primary d-inline-flex align-items-center gap-2" @onclick="RandomNavigate">
                        Rechercher un boss aléatoire
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
}

@code {
    private const string HomeTitle = "Introduction";
    private string PageTitle { get; set; } = HomeTitle;
    private static readonly Random random = new();

    private Dictionary<int, Monster>? Monsters;
    private Monster? SelectedMonster;

    private bool ShortVersion { get; set; } = false;

    private string PanelWidth = "800px";
    private Dictionary<string, string> WidthExceptions = new Dictionary<string, string>
    {
        {"Bethel Akarna", "1000px" },
        {"Comte Harebourg", "1000px" },
        {"Corruption", "1300px" },
        {"Éternel Conflit", "1100px"},
        {"Guerre", "1200px" },
        {"Reine des Voleurs", "1300px"}, 
        {"Servitude", "1100px" }, 
        {"Vortex", "1300px" },
        {"Dremoan", "1300px" },
        {"Mekamouth", "1100px" },
        {"Cire Momore", "1100px" },
        {"Tal Kasha", "1200px" },
        {"Déchireuse Perturbé", "1000px" },
        {"Solar", "1000px" }
    };

    private const string DofensiveBase = "https://dofensive.com/fr/monster/";

    protected override async Task OnInitializedAsync()
    {
        var yamlText = await Http.GetStringAsync("Data/monsters.yaml");

        var deserializer = new DeserializerBuilder().Build();

        List<Monster> initial = deserializer.Deserialize<List<Monster>>(yamlText);
        Monsters = initial.ToDictionary(m => m.Id);

        ParseURL();
    }

    private void ParseURL()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (int.TryParse(query["id"], out int id))
        {
            if (Monsters!.ContainsKey(id))
            {
                SelectedMonster = Monsters[id];
                PageTitle = SelectedMonster.Name;
            }
        }
    }

    private async Task Navigate(int id)
    {
        SelectedMonster = Monsters![id];
        Navigation.NavigateTo($"?id={id}", replace: true);
        PageTitle = SelectedMonster.Name;
        await Task.CompletedTask;
    }

    private async Task RandomNavigate()
    {
        if (Monsters == null || Monsters.Count == 0)
            return;

        var randomId = Monsters.Keys.ElementAt(random.Next(Monsters.Count));
        await Navigate(randomId);
    }

    private async Task NavHome()
    {
        SelectedMonster = null;
        PanelWidth = "800px";
        Navigation.NavigateTo("", replace: true);
        PageTitle = HomeTitle;
        await Task.CompletedTask;
    }
}

<style>
    .main-panel {
        max-width: @PanelWidth;
    }
</style>
